<!DOCTYPE html>
<html>
   <head>
		<link rel="stylesheet" href="css/bootstrap.css">
		<link rel="stylesheet" href="css/carousel.css">
		<script src="js/jquery.js"></script>
		<script src="js/bootstrap.js"></script>
		<script src="js/angular.js"></script>
		<script src="js/route.js"></script>
		<script src="js/new.js"></script>
		
		<style>
			#top{
				font-size:20px;
				color:#350e1d;
			}
		</style>
	</head>
	<body >
<div class="global-wrapper" ng-app="myApp">

  <!-- nav section -->
 <!-- <nav class="navbar navbar-default" ng-controller="navCtrl">
    <div class="container-fluid">
      <div class="nav-header">
		<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
		</button>
	 </div>
        <a href="#" class="navbar-brand hidden-xs">Angular Exercise</a>
        <ul class="nav navbar-nav">
          <li ng-repeat="navLink in nav.navItems" ng-class="{active : $index === nav.selectedIndex}">
            <a class="text-center" ng-click="nav.navClick($index)" ng-href="#/{{navLink}}">{{navLink}}</a>
          </li>
        </ul>
    	</div>
    </div>
  </nav>-->
  <nav class="navbar navbar-default" style="background-color:#afaabf">
				<div class="container-fluid">
					<div class="navbar-header" style="margin:0px 0 20px 0;">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<a class="navbar-brand" href="#/"><h3 style="color:white;font-weight:bold;font-size:30px;">CONTACTS</h3></a>
					</div><!--navbar header div-->
					<div  id="navbar" class="navbar-collapse collapse navbar-right">
						<ul class="nav navbar-nav">
							<li><a href="#/" id="top">My Contacts</a></li>
							<li><a href="#add" id="top">Add</a> 
						</ul>
					</div><!--nav collapse-->
				</div><!--container-fluid end-->
	</nav>
    
  <div class="container">
  <div class="row " ng-controller="homeCtrl">
	<div class="col-xs-4">
		<ul class="list-group">
          <li class="list-group-item"><label> <h4>Search</h4></label>
            <input class="form-control" placeholder="Seach Your Contacts" type="text" ng-model="searchText">
            <contact class="list-group-item" ng-repeat="contact in contacts | orderBy: 'name' | filter: searchText "></contact>
          </li>
        </ul> 
	</div>
	<div class="col-xs-8">
		<div class="panel panel-default">
		  <div class="panel-heading" style="background-color:#afaabf">
			<h2 class="panel-title">Contacts</h2>
		  </div>
      
		<br>
     <!--   contact list   	 
      <div class="col-xs-5 panel-body">
        <ul class="list-group">
          <li class="list-group-item"><label> <h4>Search</h4></label>
            <input class="form-control" placeholder="Seach Your Contacts" type="text" ng-model="searchText">
            <contact class="list-group-item" ng-repeat="contact in contacts | orderBy: 'name' | filter: searchText "></contact>
          </li>
        </ul> 
		
      </div>-->
      
      <!--   ng-view below       -->
     <!-- <div class="col-xs-7">-->
        <div class="list-group panel-body">
          <div ng-view></div>
        </div>
      <!--</div>-->
	  </div>
        
    </div>
  </div>
  </div>

    <!--  html templates used by angular, usually in separate files -->
    <script type="text/ng-template" id="default.html">
      <div class="alert alert-success text-center" ng-class="{hidden : !removed}"> {{removed}}</div>
      <div class="list-group-item text-center">Please select a contact to view</div>
    </script>

	  <!-- 	template for displaying a contacts info	 -->
    <script type="text/ng-template" id="contact_info.html" >
      <div class="list-group-item">
        <h3 class="text-center">{{currentContact['currentContact.name']}}</h3>
        <p>Email: <a ng-href="{{currentContact.email}}">{{currentContact['currentContact.email']}}</a></p>
        <p>Phone: {{currentContact['currentContact.phone']}}</p>
        <p>Organisation:{{currentContact['currentContact.organisation']}}</p>
        <p>Notes:</p>
        <p class="well well-lg">{{currentContact['currentContact.notes']}}</p>

        <a ng-href="#/edit/{{contacts.indexOf(currentContact)}}">
          <button class="btn btn-default">
            <span class="glyphicon glyphicon-pencil"></span><span> - Edit</span>
          </button>
        </a>

        <a href="#/"><button class="btn btn-default" ng-click="removeContact(currentContact)">
          <span class="glyphicon glyphicon-remove"></span><span> - Remove</span>
        </button></a>
      </div>
    </script>

<!--   template used for both adding a new contact and editing an existing contact   -->
    <script type="text/ng-template" id="contact_form.html">
      <div ng-controller="addContactCtrl">
        <div class="list-group-item">

          <div class="form-group">
  
            <p><label for="name" >Name: </label> <input id="name" class="form-control" type="text"  ng-model='currentContact.name' ng-value="currentContact['currentContact.name']" ng-bind="currentContact['currentContact.name']" required > </p>
            <p><label for="email">Email:</label> <input id="email"  class="form-control" type="text" ng-model='currentContact.email' ng-value="currentContact['currentContact.email']" ng-bind="currentContact['currentContact.email']" required> </p>
            <p><label for="phone">Phone:</label> <input id="phone"  class="form-control" type="text" ng-model='currentContact.phone' ng-value="currentContact['currentContact.phone']" ng-bind="currentContact['currentContact.phone']" required> </p>
            <p><label for="organisation">Organisation:</label> <input id="organisation"  ng-model='currentContact.organisation' class="form-control" ng-value="currentContact['currentContact.organisation']" ng-bind="currentContact['currentContact.organisation']" type="text"> </p>
            <p><label for="notes">Notes:</label></p>
            <textarea class="form-control" id="notes" rows="3" ng-model='currentContact.notes' ng-value="currentContact['currentContact.notes']" ng-model='currentContact.notes' ng-bind="currentContact['currentContact.notes']"></textarea>
          </div>
        
          <a ng-if="path === '/add'" ng-href="#/contact-info/{{ contacts.length - 1 }}" ng-click="addContact()">
            <button class="btn btn-default">
             <span class="glyphicon glyphicon-ok"></span>
             <span> Add</span>
            </button>
          </a>

          <a ng-if="path !== '/add'" ng-href="#/contact-info/{{index}}">
            <button ng-click="saveContact()" class="btn btn-default">
             <span class="glyphicon glyphicon-ok"></span>
             <span> Save</span>
            </button>
          </a> 

          <a href="#/">
            <button class="btn btn-default">
              <span class="glyphicon glyphicon-remove"></span><span>  Cancel</span>
            </button>
          </a>
        </div>
      </div>
    </script>

<!--      template used for the ng-repeat in the contact list        -->
    <script type="text/ng-template" id="contact.html" ng-repeat="contacts in currentContact">
      <a ng-href="#/contact-info/{{contacts.indexOf(contact)}}">
        {{contact['currentContact.name']}}
      </a>
    </script>
  </div>
  </body>
  </html>